<div class="container">
  <footer class= "footer">
    <small>
      Copyright &copy; <a>Ruby On Rails Developer</a>
      by <a>Garvit Aggarwal</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
